@import "./css/select_search.css";
@import "./css/mainpage.css";
@import "./css/login.css";
@import "./css//studySearch.css";
@import "./css/profile.css";
@import "./css/friendSearch.css";
@import "./css/studyDtail.css";
@import "./css/filter.css";

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.skillStackLabel{
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
  margin-top: 0.25rem;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: blue;
  background-color: #EEEBFF;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.skillStackLabel button{
  border : 0;
  outline: 0;
  background-color: #EEEBFF;
  font-size: 5px;
  text-align: right;
}

.title{
  font-weight: 600;
  font-size: 2.188rem;
}
@media screen and (max-width: 768px) {
  .title{
    font-size: 1.375rem;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

