.login{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 20rem;
    margin : 0 auto;
    border : 0;
  }
  .login-title{
    margin-top: 3.125rem;
    font-weight: 700;
  }