.search__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .search__header{
    background-color: black;
    border-radius: 0;
  }
  .search__header-title{
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
  }
  .notice{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  .notice__card{
    position: relative;
    margin-top: 1rem;
    width: calc(50% - 0.5rem);
    color: black;
    margin: 0.1875rem;
    text-align: center;
    padding: 1.5rem;
    border: 0.0625rem solid #D7E2EB;
    border-radius: 0.25rem;
  }

  .notice__card--title{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  .notice__card:hover{
    border: 1px solid #40a9ff;
  }

  .notice__card img{
    margin: 0.375rem auto 0;
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 0.25rem;
  }
  .notice__card p{
    margin: 0;
  }
  
  .mobileFilter{
    display: none;
    margin-bottom: 0.3125rem;
  }

  @media screen and (max-width: 768px) {
    .search__header-title{
      font-size: 20px;
      font-weight: 100;
    }

    .search__main{
      display: none;
    }
    .mobileFilter{
      display: block;
    }
    .notice__card{
      width: 100%;
    }
  }
  