.detail{
    text-align: left;
}

.detail section
{
    margin-bottom: 20px;
}
.detail__header{
    padding: 2rem 0;
    text-align: left;
}
.projectName{
    font-weight: 500;
    color: #98A8B9;
}
.skillStackinfo{
    text-align: left;
}
.skillStackinfo ul{
    padding: 0;
}

@media screen and (max-width: 768px) {
    .projectName{
        font-size: 15px;
    }
    .detailInfoTable td{
        width: 52px;
    }
  }