.friendSearch__main{
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .friendSearch__main input{
    margin: 3px;
    border-color: black;
  }
  
  .friendSearch__main p{
    margin: 5px;
  }

  .peopleList__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  .peopleList__person{
    color: black;
    margin: 1rem 2rem;
    text-align: center;
    border: 0.0625rem;
  }
  .peopleList__person p{
    margin: 0;
  }
  .peopleList__person img{
    max-width: 7rem;
    border-radius: 20rem;
  }