.keyinfo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: center;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
  .keyinfo p{
    margin : 0;
  }

  .keyinfo img{
    width: auto; height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 70%;
    padding: 1.25rem;
  }
  .keyinfo{
    text-align: left;
    margin : 0;
  }
  .keyinfo button{
    border : 0;
    outline: 0;
    background-color: white;
  }
  .keyinfo__persionalinfo--department{
    color: rgba(0, 0, 0, 0.2);
  }
  
  .myinfo__skill--tech button{
    border :0;
    outline: 0;
  }

  .Portfolio{
    display: block;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: left;
    padding: 12.5px;
    margin-bottom: 5px;
    padding-right: 100px;
    border-left: solid;
  }
  .Portfolio label{
    font-weight: 700;
  }
  
  .experience__career{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
  }
  .experience--button{
    border : 0;
    outline: 0;
    font-size: 1.5rem;
    background-color: white;
  }
  .expreience__portfolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  