.search__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .search__header{
    background-color: black;
  }
  .search__header-title{
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
  }