@import "./css/select_search.css";
@import "./css/mainpage.css";
@import "./css/login.css";
@import "./css//search.css";
@import "./css/card.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.experience{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-evenly;
}
.experience button{
  border : 0;
  outline: 0;
  font-size: 1.5rem;
  background-color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.techStackLabel{
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
  margin-top: 0.25rem;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: blue;
  background-color: #EEEBFF;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.myinfo{
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
}
.myinfo img{
  width: auto; height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 70%;
  padding: 1.25rem;
}
.myinfo__keyinfo{
  text-align: left;
  margin : 0;
}
.myinfo__keyinfo button{
  border : 0;
  outline: 0;
  background-color: white;
}
.myinfo--department{
  color: rgba(0, 0, 0, 0.2);
}

.myinfo__skill-tech button{
  border :0;
  outline: 0;
}





.techStackLabel button{
  border : 0;
  outline: 0;
  background-color: #EEEBFF;
  font-size: 5px;
  text-align: right;
}




.title{
  font-weight: 600;
  font-size: 2.188rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

